<div id="login-container" class="centered-container">
	

	<div id="pictures" class="pictures">
		<div id="picture">
		<%= image_tag 'Carsten.JPG' %>
		</div>
		<div id="picture">
		<%= image_tag 'silke.jpg' %>
		</div>
		<div id="picture">
		<%= image_tag 'peter.png' %>
		</div>
	</div>

<div id="login">
	<%= form_tag do %>
		<%= password_field_tag 'password', '', :placeholder => 'Passwort'%>
		<br />
		<%= submit_tag 'Anmelden', :class => 'login-button'%>
	<% end %>
</div>
</div>